@import "tailwindcss";

@layer base {
  body {
    @apply bg-neutral-950 text-neutral-100 antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-neutral-800 rounded-full hover:bg-neutral-700 transition-colors;
  }
}

.konvajs-content {
  @apply rounded-xl overflow-hidden;
}

